.App-profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    text-align: left;
    width: 100%;
    min-height: 25vh;
    background-color: #be9b7b;
  }
  
  .contact{
    font-size: 15px;
  }
  
  .profile-left{
    align-items: stretch;
    width: 50%;
    padding-top: 20px;
    padding-left: 10px;
    height: 25vh;
    overflow: hidden;
    position: relative;
    left: 0;
  }
  
  .profile-left p{
    bottom: 10px;
  }
  
  .profile-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    float: right;
  }